
#====================================================================
# AUTOMATIC BED LEVELING 
#====================================================================
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_CD467FBC5157355957202020FF0E0423-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -17.25 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20

# [probe]
##  Inductive Probe
##  Connected to Z-PROBE
##  This probe is not used for Z height, only Quad Gantry Leveling
# pin: nitehawk_sb:gpio10
# x_offset: 0
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

[bed_mesh]
speed: 400
horizontal_move_z: 10
# mesh_min: 20, 0
# mesh_max: 280,255
mesh_min: 60, 0
mesh_max: 240,255
probe_count: 15,15
# probe_count: 3, 3
# fade_start: 2.0
# fade_end: 8.0
fade_start: 2.0
fade_end: 0.0
# mesh_pps: 2, 2
algorithm: bicubic
zero_reference_position: 150, 150 # 61.5,86

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position: 150, 132.75
# home_xy_position:173.25,307 # these settings are the location of the rear physical probe
speed:100
z_hop:3

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead
z_positions:
  -35, 0
  150, 370
  338, 0
points:
  20, 5
  150, 262.75
  280, 5
# z_positions:
#   -50, 18
#   150, 348
#   350, 18
# points:
#   30, 5
#   150, 245
#   270, 5
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075